@font-face {
    font-family: 'DancingScript';
    src: url('../fonts/dancingscript-regular-webfont.woff2') format('woff2'),
         url('../fonts/dancingscript-regular.ttf') format('truetype');

    font-weight: 400;
    font-style: normal;

}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/opensans-regular-webfont.woff2') format('woff2'),
         url('../fonts/opensans-regular.ttf') format('truetype');

    font-weight: 400;
    font-style: normal;

}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/opensans-bold-webfont.woff2') format('woff2'),
         url('../fonts/opensans-bold.ttf') format('truetype');

    font-weight: 700;
    font-style: bold;

}