@font-face {
  font-family: 'DancingScript';
  src: url("../fonts/dancingscript-regular-webfont.woff2") format("woff2"), url("../fonts/dancingscript-regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/opensans-regular-webfont.woff2") format("woff2"), url("../fonts/opensans-regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/opensans-bold-webfont.woff2") format("woff2"), url("../fonts/opensans-bold.ttf") format("truetype");
  font-weight: 700;
  font-style: bold; }

body {
  background-color: #ffe0e9;
  font-family: 'Open Sans', sans-serif;
  color: #222; }

/* header */
.main-header__menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
  background-color: rgba(34, 34, 34, 0.5); }

.main-header__logo {
  max-width: 160px;
  max-height: 51px;
  margin: 5px 0 5px; }
  @media (min-width: 576px) {
    .main-header__logo {
      margin: 7px 0 8px; } }

.main-header .navbar {
  padding-right: 20px;
  padding-left: 20px; }
  @media (min-width: 576px) {
    .main-header .navbar {
      padding-left: 0; } }

.main-header .navbar-nav {
  padding-right: 65px; }

.main-header .main-header__nav-item .main-header__nav-link {
  padding-right: 14px;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  line-height: 2.5;
  text-transform: uppercase;
  text-align: center; }
  .main-header .main-header__nav-item .main-header__nav-link:hover {
    text-decoration: underline; }

.main-header .hamburger-menu {
  border-color: #222; }
  .main-header .hamburger-menu .navbar-toggler-icon {
    background: url(../img/hamburger-menu.png) no-repeat;
    background-size: 100% 100%; }

/* slider */
.main-header__slider {
  position: absolute;
  top: 0;
  right: 0;
  left: 0; }

.slide {
  min-height: 100vh;
  position: relative; }
  .slide-text {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    max-width: 470px;
    background-color: #fff; }
    @media (min-width: 576px) {
      .slide-text {
        padding: 0 12px 10px;
        font-size: 18px; } }
  .slide-img {
    display: block;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -10; }
  .slide .title {
    margin-top: 80px;
    background-color: #fff; }
    @media (min-width: 576px) {
      .slide .title {
        margin-top: 124px; } }

/* about us section */
.container-about {
  padding-left: 0;
  padding-right: 0; }

.about {
  position: relative; }
  .about-wrapper {
    margin: 260px auto 0;
    background-color: #fff;
    min-height: 520px;
    padding: 20px 20px 0 20px;
    -webkit-box-shadow: 2px 4px 20px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 2px 4px 20px 0px rgba(0, 0, 0, 0.35); }
    @media (min-width: 576px) {
      .about-wrapper {
        margin: 500px auto 0; } }
  .about-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end; }
    .about-img__item {
      max-height: 445px;
      max-width: 415px;
      width: 100%; }
      @media (min-width: 576px) {
        .about-img__item {
          padding-left: 20px;
          width: 100%; } }
  .about-article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .about-article__wrapper {
      padding: 0 15px 18px;
      max-width: 410px; }
  .about-text {
    font-size: 13px; }
    @media (min-width: 576px) {
      .about-text {
        font-size: 16px;
        padding-top: 20px;
        padding-bottom: 12px; } }

/* our history section */
.history {
  margin-top: 80px; }
  .history-wrapper {
    background-color: #fff;
    padding: 55px 15px 36px;
    -webkit-box-shadow: 2px 4px 20px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 2px 4px 20px 0px rgba(0, 0, 0, 0.35); }
    @media (min-width: 576px) {
      .history-wrapper {
        padding: 0; } }
    .history-wrapper .title {
      padding: 55px 15px 0; }
  .history-text {
    padding-top: 15px;
    max-width: 417px;
    font-size: 13px; }
    @media (min-width: 576px) {
      .history-text {
        font-size: 14px;
        margin-bottom: 32px; } }
  .history-img {
    display: block;
    max-width: 417px;
    max-height: 245px;
    width: 100%;
    padding-top: 10px;
    margin-bottom: 3px; }
  .history-stages {
    position: relative;
    padding: 32px 15px 36px; }
    .history-stages:after {
      content: '';
      position: absolute;
      top: 20px;
      bottom: 35px;
      right: calc(50% - 1px);
      display: block;
      width: 2px;
      background-color: transparent;
      z-index: 1; }
      @media (min-width: 993px) {
        .history-stages:after {
          background-color: #222; } }
  .history .stage1 {
    background-color: #bd6b00;
    margin-right: 0; }
    @media (min-width: 993px) {
      .history .stage1 {
        margin-right: -15px; } }
    .history .stage1:after {
      content: "1970";
      right: -10px; }
      @media (min-width: 993px) {
        .history .stage1:after {
          right: -19px; } }
  .history .stage1:after, .history .stage2:before, .history .stage3:after {
    display: block;
    background-color: inherit;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    top: -56%;
    text-align: center;
    line-height: 50px; }
    @media (min-width: 576px) {
      .history .stage1:after, .history .stage2:before, .history .stage3:after {
        width: 69px;
        height: 69px;
        line-height: 69px; } }
    @media (min-width: 992px) {
      .history .stage1:after, .history .stage2:before, .history .stage3:after {
        z-index: 10; } }
  .history .stage2 {
    background-color: #117600;
    margin-left: 0;
    margin-right: 0; }
    @media (min-width: 992px) {
      .history .stage2 {
        padding-left: 83px;
        margin-left: -15px;
        margin-right: 0; } }
    .history .stage2:before {
      content: "1980";
      right: -10px; }
      @media (min-width: 768px) {
        .history .stage2:before {
          right: -10px; } }
      @media (min-width: 992px) {
        .history .stage2:before {
          left: -5px;
          padding-left: 0;
          margin-left: -15px;
          margin-right: 0; } }
  .history .stage3 {
    background-color: #7400bd;
    margin-right: 0; }
    @media (min-width: 992px) {
      .history .stage3 {
        margin-right: -10px; } }
    .history .stage3:after {
      content: "2000";
      right: -10px; }
      @media (min-width: 992px) {
        .history .stage3:after {
          right: -25px; } }
  @media (min-width: 992px) {
    .history .stage2 + p {
      padding-left: 69px; } }
  @media (min-width: 992px) {
    .history .stage3 ~ .history-text {
      padding-bottom: 0;
      margin-bottom: 0; } }

/*  products section  */
.products {
  margin-top: 85px;
  font-size: 0; }
  .products-column2 {
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row; }
    @media (min-width: 768px) {
      .products-column2 {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column; } }
  .products-img {
    width: 100%;
    overflow: hidden;
    position: relative;
    cursor: pointer; }
    .products-img img {
      width: 100%;
      display: block; }
  .products-hover {
    -webkit-transition: display 5s linear;
    -o-transition: display 5s linear;
    transition: display 5s linear;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: rgba(34, 34, 34, 0.6);
    display: none;
    -webkit-transition: display 2s linear;
    -o-transition: display 2s linear;
    transition: display 2s linear; }
  .products-img:hover .products-hover {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }

/*  map section  */
.map-item {
  min-height: 401px;
  width: 100%;
  -webkit-box-shadow: 2px 4px 20px 0px rgba(0, 0, 0, 0.35);
  box-shadow: 2px 4px 20px 0px rgba(0, 0, 0, 0.35); }

/*  contact section  */
.contact {
  margin-top: 75px; }
  .contact .contact-wrapper {
    background-color: #fff;
    -webkit-box-shadow: 2px 4px 20px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 2px 4px 20px 0px rgba(0, 0, 0, 0.35);
    padding: 50px 15px 65px; }
  .contact .title {
    padding: 20px; }
    @media (min-width: 768px) {
      .contact .title {
        padding: 0; } }
  .contact-address__wrapper, .contact .contact-form input, .contact .contact-form textarea {
    background-color: #eee; }
  .contact-form .btn {
    margin-right: 15px; }
  .contact-form input, .contact-form textarea {
    display: inline-block;
    margin: 7px 0;
    padding: 0 0 0 15px;
    outline: none;
    height: 50px;
    width: 100%;
    color: #222;
    line-height: 50px;
    border: 0;
    border-left: 2px solid #ce5aff; }
    @media (min-width: 576px) {
      .contact-form input, .contact-form textarea {
        padding: 0 0 0 21px;
        margin: 15px 0;
        line-height: 50px; } }
  .contact textarea[name=message] {
    height: 152px;
    margin-bottom: 27px;
    resize: none; }
  .contact-address__wrapper {
    margin-top: 10px;
    padding: 17px; }
    @media (min-width: 576px) {
      .contact-address__wrapper {
        margin-top: 15px;
        padding: 17px 20px 30px 22px; } }
  .contact-text {
    font-size: 13px;
    line-height: 1.5;
    margin-bottom: 19px; }
    @media (min-width: 576px) {
      .contact-text {
        font-size: 16px;
        margin-bottom: 24px; } }
  .contact-socials {
    display: inline-block;
    padding-top: 15px;
    color: #222;
    font-size: 27px; }
    .contact-socials:hover {
      color: #222;
      opacity: .5; }
  .contact-socials:not(:last-child) {
    padding-right: 32px; }

/* footer */
footer .main-footer__wrapper {
  padding-right: 15px;
  padding-left: 15px; }

.main-footer {
  margin-top: 76px;
  background-color: #fff;
  -webkit-box-shadow: 2px 4px 20px 0px rgba(0, 0, 0, 0.35);
  box-shadow: 2px 4px 20px 0px rgba(0, 0, 0, 0.35);
  padding-top: 15px;
  padding-bottom: 15px; }
  @media (min-width: 576px) {
    .main-footer {
      padding-top: 26px;
      padding-bottom: 49px; } }
  .main-footer .title {
    padding-bottom: 10px; }

.footer-nav {
  padding-bottom: 15px; }

.footer__nav-link {
  display: inline-block;
  color: #222; }
  .footer__nav-link:hover {
    color: rgba(34, 34, 34, 0.6); }

.footer-img {
  overflow: hidden;
  padding: 5px 10px 10px 10px;
  cursor: pointer; }
  .footer-img img {
    width: 100%; }

.footer-timing {
  display: block;
  text-transform: uppercase;
  text-align-last: justify; }
  .footer-timing p {
    display: block;
    border-bottom: 1px solid #ccc;
    font-size: 14px; }
    @media (min-width: 576px) {
      .footer-timing p {
        font-size: 16px; } }

/*  buttons  */
.main-btn {
  display: inline-block;
  padding: 0 25px;
  border-radius: 24px;
  border: 3px solid #ce5aff;
  color: #ce5aff;
  font-weight: 700;
  font-size: 13px;
  background-color: #fff;
  line-height: 44px;
  text-transform: uppercase; }
  @media (min-width: 576px) {
    .main-btn {
      font-size: 18px; } }
  .main-btn:hover {
    color: #ce5aff;
    background: transparent; }

/* headers */
.title {
  font-family: DancingScript;
  color: #222;
  font-size: 28px; }
  @media (min-width: 576px) {
    .title {
      font-size: 49px; } }
  .title:before {
    content: '';
    display: block;
    height: 2px;
    width: 100px;
    background-color: #ce5aff; }
  .title--slide {
    display: inline-block;
    padding: 4px 10px;
    background-color: #fff;
    margin-bottom: 0; }
    @media (min-width: 576px) {
      .title--slide {
        padding: 4px 14px 2px; } }
  .title--small {
    font-size: 32px; }
    .title--small:before {
      width: 50px; }

.history-subtitle {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.7;
  padding-left: 21px;
  margin-bottom: 13px;
  position: relative; }
  @media (min-width: 576px) {
    .history-subtitle {
      font-size: 18px; } }

.contact-title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 0; }
  @media (min-width: 576px) {
    .contact-title {
      font-size: 16px; } }

.lowercase-text {
  text-transform: lowercase; }

.container-fluid {
  padding: 0; }

@media (min-width: 1200px) {
  .container {
    max-width: 1000px; } }

@media (max-width: 978px) {
  .container {
    padding: 0;
    margin: 0; } }
